Repository artifact-keeper/artifact-keeper-iac: changes, and which Mergify rules are due for each by the changed paths.
All: Label Helm chart changes, Label Terraform changes

.mergify.yml:

queue_rules:
  - name: default
    merge_method: squash
    update_method: rebase

pull_request_rules:
  - name: Label Helm chart changes
    conditions:
      - "files~=^helm/"
    actions:
      label:
        add:
          - helm

  - name: Label Terraform changes
    conditions:
      - "files~=^terraform/"
    actions:
      label:
        add:
          - terraform

  - name: Clean up merged branches
    conditions:
      - merged
    actions:
      delete_head_branch: {}

chore: add testing infrastructure and test plan
  .github/CODEOWNERS
  .github/PULL_REQUEST_TEMPLATE.md
  docs/TEST_PLAN.md
Due: none

chore: add testing infrastructure and test plan (#11)
  .github/CODEOWNERS
  .github/PULL_REQUEST_TEMPLATE.md
  docs/TEST_PLAN.md
Due: none

Add per-component scheduling overrides and topologySpreadConstraints
  helm/templates/backend-deployment.yaml
  helm/templates/dtrack-deployment.yaml
  helm/templates/edge-deployment.yaml
  helm/templates/meilisearch-deployment.yaml
  helm/templates/postgres-statefulset.yaml
  helm/templates/trivy-deployment.yaml
  helm/templates/web-deployment.yaml
  helm/values.yaml
Due: Label Helm chart changes

Document scheduling override behavior in values.yaml
  helm/values.yaml
Due: Label Helm chart changes

Add pod scheduling controls with per-component overrides (#9)
  helm/templates/backend-deployment.yaml
  helm/templates/dtrack-deployment.yaml
  helm/templates/edge-deployment.yaml
  helm/templates/meilisearch-deployment.yaml
  helm/templates/postgres-statefulset.yaml
  helm/templates/trivy-deployment.yaml
  helm/templates/web-deployment.yaml
  helm/values.yaml
Due: Label Helm chart changes

Add CI workflow for Helm and Terraform validation
  .github/workflows/ci.yml
Due: none

Fix CI quality gate: pin actions to SHA, format Terraform, exclude tests from SonarCloud
  .github/workflows/ci.yml
  sonar-project.properties
  terraform/environments/production/main.tf
  terraform/environments/production/terraform.tfvars
  terraform/modules/rds/main.tf
  terraform/modules/vpc/main.tf
Due: Label Terraform changes

Move permissions from workflow level to job level
  .github/workflows/ci.yml
Due: none

Add CI workflow for Helm and Terraform validation (#12)
  .github/workflows/ci.yml
  sonar-project.properties
  terraform/environments/production/main.tf
  terraform/environments/production/terraform.tfvars
  terraform/modules/rds/main.tf
  terraform/modules/vpc/main.tf
Due: Label Terraform changes

Bump meilisearch memory limit from 1Gi to 4Gi
  helm/values.yaml
Due: Label Helm chart changes

Bump meilisearch memory limit from 1Gi to 4Gi (#13)
  helm/values.yaml
Due: Label Helm chart changes

Bump meilisearch memory to 8Gi and add values.yaml documentation
  helm/values.yaml
Due: Label Helm chart changes

Bump meilisearch memory to 8Gi and add values.yaml documentation (#14)
  helm/values.yaml
Due: Label Helm chart changes

Add SonarCloud scanning to CI
  .github/workflows/ci.yml
Due: none

Add SonarCloud scanning to CI (#15)
  .github/workflows/ci.yml
Due: none

docs: document Docker Hub as alternative container registry
  demo/docker-compose.demo.yml
  helm/values.yaml
Due: Label Helm chart changes

docs: document Docker Hub as alternative container registry (#16)
  demo/docker-compose.demo.yml
  helm/values.yaml
Due: Label Helm chart changes

chore: add ClusterRole and ClusterRoleBinding for ARC E2E runners
  e2e/runner-rbac.yaml
Due: none

chore: add ArgoCD permissions to ARC runner RBAC
  e2e/runner-rbac.yaml
Due: none

fix: add watch verb for secrets in ARC runner RBAC
  e2e/runner-rbac.yaml
Due: none

chore: add GitHub issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

fix: route native format handlers directly to backend in ingress
  helm/templates/ingress.yaml
Due: Label Helm chart changes

Add securityContext to all deployments and harden init containers
  helm/templates/backend-deployment.yaml
  helm/templates/dtrack-deployment.yaml
  helm/templates/edge-deployment.yaml
  helm/templates/meilisearch-deployment.yaml
  helm/templates/trivy-deployment.yaml
  helm/templates/web-deployment.yaml
Due: Label Helm chart changes

Add pod anti-affinity, PDBs for web/edge, Recreate strategy for PVC workloads
  helm/templates/dtrack-deployment.yaml
  helm/templates/edge-pdb.yaml
  helm/templates/trivy-deployment.yaml
  helm/templates/web-pdb.yaml
  helm/values-production.yaml
  helm/values.yaml
Due: Label Helm chart changes

Add network policies for all workloads and tighten backend egress
  helm/templates/networkpolicy.yaml
Due: Label Helm chart changes

Implement environment promotion workflow in ArgoCD ApplicationSet
  argocd/applicationset.yaml
Due: none

Upgrade Kubernetes to 1.31, enable EKS audit logging and VPC Flow Logs
  argocd/appproject.yaml
  helm/templates/ingress.yaml
  terraform/environments/dev/main.tf
  terraform/environments/production/main.tf
  terraform/environments/staging/main.tf
  terraform/modules/eks/main.tf
  terraform/modules/eks/variables.tf
  terraform/modules/vpc/main.tf
  terraform/modules/vpc/variables.tf
Due: Label Helm chart changes, Label Terraform changes

Add External Secrets Operator integration with AWS Secrets Manager
  argocd/appproject.yaml
  helm/templates/external-secrets.yaml
  helm/templates/secrets.yaml
  helm/values-production.yaml
  helm/values.yaml
Due: Label Helm chart changes

ci: mark SonarCloud job as continue-on-error
  .github/workflows/ci.yml
Due: none

Add storage limits to emptyDir volumes and ephemeral-storage resource limit
  helm/templates/backend-deployment.yaml
  helm/templates/dtrack-deployment.yaml
  helm/templates/meilisearch-deployment.yaml
  helm/templates/trivy-deployment.yaml
  helm/templates/web-deployment.yaml
  helm/values.yaml
Due: Label Helm chart changes

Upgrade sonarqube-scan-action from v5 to v6
  .github/workflows/ci.yml
Due: none

Bump sonarqube-scan-action to v7
  .github/workflows/ci.yml
Due: none

Add Dependabot config and pin sonarqube-scan-action to commit hash
  .github/dependabot.yml
  .github/workflows/ci.yml
Due: none

Add Helm chart release workflow using chart-releaser
  .github/cr.yaml
  .github/workflows/helm-release.yml
Due: none

Add dedicated Helm CI workflow with lint, validation, and kind install testing
  .github/workflows/ci.yml
  .github/workflows/helm-ci.yml
  charts/artifact-keeper/ci/test-values.yaml
Due: none

Initialize gh-pages branch
  README.md
Due: none

Revert "Add Helm chart release workflow using chart-releaser (#43)"
  .github/cr.yaml
  .github/workflows/helm-release.yml
Due: none
